* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.container {
  background-image: url("./pexels-pixabay-236968.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  text-align: center;
}

.container p {
  color: white;
  margin-bottom: 30px;
}

.container h1 {
  color: white;
  margin-bottom: 30px;
  font-size: 40px;
}

.COUNTER-WRAPPER {
  padding-bottom: 200px;
  padding-top: 500px;
}

.COUNTER-WRAPPER {
  display: flex;
  justify-content: space-around;
}

.box {
  box-shadow: 0px 0px 10px white;
  background: white;
  width: 20%;
  padding: 30px 0px;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 3px;
}

p {
  line-height: 24px;
  font-size: 14px;
}
